{% extends "base.html" %}
{% load static %}

{% block title %}
  My Blog
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img  src="{% static 'blog/images/gianni.jpg' %}" alt="Gianni - The Author of this Blog" />
      <h2>GIANNI'S BLOG</h2>
    </header>
    <p>Hi, I am Gianni and i love to blog</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
      {% for post in posts %}
        {% include "blog/includes/post.html" %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I do</h2>
    <p>
      Lots of things.
    </p>
    <p>
      Other dummy content. Hmm!
    </p>
  </section>
{% endblock %}